.mf-search {
    .search-results {
        .highlightQuery {
            color: rgb(53, 189, 178);
        }
        .enter {
            color: rgb(53, 189, 178);
            float: right;
            &:before {
                content: ' ';
            }
        }
    }
}